/**
Styling for the app in general
*/

.toolbardemoScrollShrink md-list md-item .face {
  width: 48px;
  margin: 16px;
  border-radius: 48px;
  border: 1px solid #ddd; }

/* The search overlay appears when the search bar is active to grey out the rest of the screen */
.search-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
  z-index:1;
}

md-input-container.search-box.md-default-theme:not(.md-input-invalid).md-input-focused.md-accent label {
  padding-top:15px;
}

md-toolbar {
  z-index: 2;
}

.page {
  /*min-height:100%;*/
  /*position:absolute;*/
  z-index: 0;
  /*margin-top:63px;*/
  top:0;
  bottom:0;
  /*padding-bottom: 63px;*/
}


