<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>MyApp</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <!-- build:css(.) styles/vendor.css -->
  <!-- bower:css -->
  <link rel="stylesheet" href="bower_components/angular-material/angular-material.css" />
  <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css" />
  <link rel="stylesheet" href="bower_components/angular-md-pull-to-refresh/angular-md-pull-to-refresh.css" />
  <!-- endbower -->
  <!-- endbuild -->
  <!-- build:css(.tmp) styles/main.css -->
  <link rel="stylesheet" href="styles/material.css">
  <link rel="stylesheet" href="styles/app.css">
  <link rel="stylesheet" href="styles/main.css">
  <!-- endbuild -->
</head>
<body layout="row" ng-app="yoAngularCordovaApp" ng-controller="GlobalCtrl" class="noscroll">

<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
  your browser</a> to improve your experience.</p>
<![endif]-->

<div ng-include="'views/sidenav.html'" class="md-whiteframe-z3"></div>
<div layout="column" layout-fill flex>
  <div ng-include="'views/toolbar.html'" layout-fill></div>
  <div ng-if="searchModel.searchActive" class="search-overlay" ng-click="searchModel.searchActive = false"></div>
  <md-content layout="column" layout-fill flex ng-view layout="center center" scroll-to-top-on-nav-click class="page">
  </md-content>
</div>
<!-- build:js(.) scripts/oldieshim.js -->
<!--[if lt IE 9]>
<script src="bower_components/es5-shim/es5-shim.js"></script>
<script src="bower_components/json3/lib/json3.js"></script>
<![endif]-->
<!-- endbuild -->

<!-- build:js(.) scripts/vendor.js -->
<!-- bower:js -->
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-cookies/angular-cookies.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="bower_components/angular-touch/angular-touch.js"></script>
<script src="bower_components/angular-aria/angular-aria.js"></script>
<script src="bower_components/angular-material/angular-material.js"></script>
<script src="bower_components/angular-md-pull-to-refresh/angular-md-pull-to-refresh.js"></script>
<!-- endbower -->
<!-- endbuild -->

<!-- build:js({.tmp,app}) scripts/scripts.js -->
<script src="scripts/app.js"></script>
<script src="scripts/directives/scrolltotoponnavclick.js"></script>
<script src="scripts/rootscope.js"></script>
<script src="scripts/controllers/global.js"></script>
<script src="scripts/controllers/main.js"></script>
<script src="scripts/controllers/about.js"></script>
<script src="scripts/controllers/search.js"></script>
<script src="scripts/controllers/pulltorefresh.js"></script>
<!-- endbuild -->
</body>
</html>
