<md-toolbar class="md-primary md-hue-1 md-whiteframe-z2" style="z-index:0" md-scroll-shrink="true">
  <span flex></span>
  <div class="md-toolbar-tools">
    <h3>
      <span>Scroll-shrinking subheader</span>
    </h3>
  </div>
</md-toolbar>
<md-content flex layout-fill class="toolbardemoScrollShrink md-padding"  scroll-to-top-on-nav-click>
  <h3>List</h3>
  <p>This pane demonstrates a common list pane.  When you scroll down the inner toolbar disappears.</p>

  <md-card>
    <img ng-src="https://d2ixpktcwt0tho.cloudfront.net/proxy?src=https%3A%2F%2Fpbs.twimg.com%2Fmedia%2FB8zZxEfCMAAcHZd.jpg&k=a63ca5de545ecca44e02b3045c30de8bba796dac" alt="who" class="face">
    <md-card-content>
      <h2>Paracosm</h2>
      <p>
        The titles of Washed Out's breakthrough song and the first single from Paracosm share the
        two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
      </p>
    </md-card-content>
  </md-card>
  <md-list>
    <md-item ng-repeat="item in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]">
      <md-item-content>
        <div class="md-tile-left">
          <img ng-src="https://d2ixpktcwt0tho.cloudfront.net/proxy?src=https%3A%2F%2Fpbs.twimg.com%2Fmedia%2FB8zZxEfCMAAcHZd.jpg&k=a63ca5de545ecca44e02b3045c30de8bba796dac" alt="who" class="face">
        </div>
        <div class="md-tile-content">
          <h3>1/5/2015 01:00:00 PM</h3>
          <h4>infomofo</h4>
          <p>
            this is a list item!
          </p>
        </div>
      </md-item-content>
      <md-divider inset></md-divider>
    </md-item>
  </md-list>
  <md-button class="md-fab md-fab-bottom-right" aria-label="Time">
    <i class="fa fa-clock-o fa-2x"></i>
  </md-button>
</md-content>

