<md-content class="md-padding">
  <div>
    <h1>Hello!</h1>
  </div>

  <div class="row marketing">
    <h4>Demo App</h4>
    <p>
      This is a demo app testing the use of angular/material widgets in a cordova application container.
    </p>

    <h4>How to use this app</h4>
    <p>
      <ol>
        <li>Clone the repo from infomofo/cordova-angular-md-template</li>
        <li>Run <code>npm install</code></li>
        <li>Run <code>grunt</code></li>
        <li>From there you can run this application in one of three ways:
          <ul>
            <li>Run <code>grunt serve</code> to open the application as a standard webpage</li>
            <li>Run <code>cd cordova; cordova emulate ios</code> to emulate it on an ios simulator running on your machine</li>
            <li>Run <code>cd cordova; cordova run android</code> to emulate it on an android simulator running on your machine, or to a connected android device with debugging options turned on.</li>
          </ul>
        </li>
      </ol>
    </p>

    <h4>Application scaffolding and organization</h4>
    <p>.</p>

    <h4>Other features</h4>
    <p>This app will also contain example grunt tests that can be run on an integration server, such as Travis.</p>
  </div>

</md-content>
