<md-toolbar md-scroll-shrink md-theme="light-green" class="md-whiteframe-z2" style="z-index:0">
  <span flex></span>
  <div class="md-toolbar-tools">
    <h3>
      <span>My App Title</span>
    </h3>
  </div>
</md-toolbar>
<md-content style="height: 600px;" class="toolbardemoScrollShrink md-padding">
  <h3>Scrollshrink</h3>
  <p>This pane demonstrates a sub-toolbar that slides out of view when scrolling down and slides back in when scrolling up.</p>
  <p>This allows you to bring elements into view when appropriate, and give focus to your content the rest of the time.</p>
  <section>
    <md-subheader class="md-primary">Unread Messages</md-subheader>
    <md-list>
      <md-item ng-repeat="item in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]">
        <md-item-content>
          <div class="md-tile-left">
            <img ng-src="https://d2ixpktcwt0tho.cloudfront.net/proxy?src=https%3A%2F%2Fpbs.twimg.com%2Fmedia%2FB8zZxEfCMAAcHZd.jpg&k=a63ca5de545ecca44e02b3045c30de8bba796dac" alt="who" class="face">
          </div>
          <div class="md-tile-content">
            <h3>1/5/2015 01:00:00 PM</h3>
            <h4>infomofo</h4>
            <p>
              this is a list item!
            </p>
          </div>
        </md-item-content>
        <md-divider inset></md-divider>
      </md-item>
    </md-list>
  </section>
  <section>
    <md-subheader class="md-primary">New Messages</md-subheader>
    <md-list>
      <md-item ng-repeat="item in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]">
        <md-item-content>
          <div class="md-tile-left">
            <img ng-src="https://d2ixpktcwt0tho.cloudfront.net/proxy?src=https%3A%2F%2Fpbs.twimg.com%2Fmedia%2FB8zZxEfCMAAcHZd.jpg&k=a63ca5de545ecca44e02b3045c30de8bba796dac" alt="who" class="face">
          </div>
          <div class="md-tile-content">
            <h3>1/5/2015 01:00:00 PM</h3>
            <h4>infomofo</h4>
            <p>
              this is a list item!
            </p>
          </div>
        </md-item-content>
        <md-divider inset></md-divider>
      </md-item>
    </md-list>
  </section>
</md-content>
