<md-sidenav md-component-id="left" class="md-sidenav-left md-whiteframe-z2" md-is-locked-open="$media('gt-sm')">
  <md-content flex="" style="overflow: auto;" class="md-default-theme">
    <div>
      <button class="menu-item menu-title md-menu-item" aria-label="app">
        App Section
      </button>
      <a class="menu-item menu-sub-item md-menu-item" ng-click="go('/');" md-ink-ripple="#bbb" >
        <span><i class="fa fa-fw fa-home"></i> Home</span>
      </a>
      <a class="menu-item menu-sub-item md-menu-item" ng-click="go('/about');" md-ink-ripple="#bbb" >
        <span><i class="fa fa-fw fa-info"></i> About</span>
      </a>
    </div>
    <div>
      <button class="menu-item menu-title md-menu-item" aria-label="demo">
        Demo
      </button>
      <a class="menu-item menu-sub-item md-menu-item" ng-click="go('/scrollshrink')" md-ink-ripple="#bbb" >
        <span>Scrollshrink</span>
      </a>
      <a class="menu-item menu-sub-item md-menu-item" ng-click="go('/form')" md-ink-ripple="#bbb" >
        <span>Form</span>
      </a>
    </div>
  </md-content>
</md-sidenav>
