<div flex layout="column" layout-fill>
  <div layout-margin>
    <h3>Tabs</h3>
    <p>Click the tab header change between tab contents</p>
  </div>

  <md-tabs layout="column" flex md-stretch-tabs="always">
    <md-tab label="1">
      <div layout="column" layout-fill layout-align="space-around center">
        <h1>A tab of content</h1>
      </div>
    </md-tab>
    <md-tab label="Disabled" class="md-accent" disabled="true">
      <div layout="column" layout-fill layout-align="space-around center">
        <h1>A third tab of content</h1>
      </div>
    </md-tab>
    <md-tab label="2" class="md-hue1">
      <div layout="column" layout-fill  flex layout-align="space-around center" style="background-color:#fff000">
        <h1>A second tab of content</h1>
      </div>
    </md-tab>
  </md-tabs>
</div>
